@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-poppins: "Poppins";
  --font-montserrat: "Montserrat";

  --default-font-family: "Poppins";

  --color-primary: #b88e2f;
  --color-font: #333333;
  --color-beje: #fff3e3;
  --color-beje-banner: #fcf8f3;
  --color-light-bg: #f4f5f7;
  --color-red-accent: #e97171;
  --color-green-accent: #2ec1ac;
  --color-gray-one: #3a3a3a;
  --color-gray-two: #616161;
  --color-gray-three: #898989;
  --color-gray-four: #b0b0b0;
  --color-gray-five: #d8d8d8;
  --color-gray-six: #9f9f9f;
  --color-gray-seven: #666666;
  --color-hover: #d0a032;
}
